# .NET / Visual Studio
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.db
*.ncrunchproject
*.ncrunchsolution
TestResult.xml
[Tt]humbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
!**/packages/repositories.config
project.lock.json
project.fragment.lock.json
artifacts/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# OS files
.DS_Store
Thumbs.db
